/*------------------Top Bar----------------------*/

.nav {

}


.btn-primary-outline {
  background-color: transparent;
  border-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 26px;
}

.nav li{
  text-align: bottom;
  display: inline;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
}

.bigger-header{
  font-size: 600%;
}

.big-image{
  background-repeat: no-repeat;
  padding-top: 10px;
  text-align: center;
  background-image: url(../images/website_banner2.png);
  background-size: cover;
}
.big-image h1{
  color: white;
}
.big-image p{
  color: white;
}

.subscribe{
  position: absolute;
  top: 10px;
  right: 10px;
  border-color: white;
  color: white;
  font-size: 22px;
}


/*----------------------Index---------------------------*/
.latest-episode{
  background-color: black;
  color: white;
}

.latest-btn{
  color: white;
  padding-left: 0px;
}

.episode-img{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.latest-description{
  font-size: 18px;
}

.previous-episodes{
  text-align: center;
  padding-top: 10px;
}

.previous-description{
  padding-top: 10px;
  font-size:18px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  text-align: left;
  padding-bottom: 20px;
}

.latest-img{
  height: 300px;
  width: 300px;
}

.previous-btn{
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1200px) {
  .latest-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:500px;
    width:500px;
  }
}
@media screen and (max-width: 1000px){
  .btn-primary-outline{
    font-size: 40px;
  }

  .latest-description{
    font-size: 35px;
  }

  .postdate{
    font-size: 22px;
  }

  .previous-description{
    padding-top: 10px;
    font-size:35px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    text-align: left;
  }
}

/*----------------------About---------------------------*/

.about-copy{
  color: black;
  font-size: 18px;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  line-height: 1.25;
  vertical-align: middle;
}

.about-top{
  padding-top: 20px;
}

.lucas-image{
  width: 330px;
  height: 330px;
}

.title{
  padding-top: 25px;
  padding-bottom: 5px;
}

.title2{
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: right;
}

.john-align{
  text-align: right;
}

.john-image{
  width: 330px;
  height: 330px;
}

@media screen and (max-width: 1200px) {
  .john-align{
    text-align: left;
  }
  .title2{
    text-align: center;
  }
  .title{
    text-align: center;
  }
  .lucas-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
    height: 440px;
  }
  .john-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
    height: 440px;
  }
}

@media screen and (max-width: 1000px){
  .about-copy{
    font-size: 35px;
  }
}


@media screen and (min-width: 1200px){
  .john-text{
    float: left;
  }
  .john-pic{
    float:right;
  }
}

/*----------------------Archive---------------------------*/

.archive-header{
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
}

.table-time{
  padding-top: 10px;
  padding-bottom: 40px;
}

td{
  padding: 15px;
  font-size: 18px;
}

th{
  padding:15px;
  font-size: 20px;
}

.table-border{
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px){
  th{
    font-size: 37px;
  }
  td{
    font-size: 35px;
  }
}

/*------------------------Connect--------------------------------*/

.connect-img{
  height:100px;

}

.connect-boxes{
  padding-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.connect-copy{
  padding-top: 25px;
  margin-left:auto;
  margin-right: auto;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

.connect-text{
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 1000px){
  .connect-copy{
    font-size:35px;
  }
  .connect-text{
    font-size:36px;
  }
}

/*------------------------Episode pages--------------------------*/

.episode-img-archive{
  padding-top: 20px;
  padding-bottom: 10px;
  height: 550px;
  width: 550px;
}

.archive-description{
  font-size: 18px;
}

.archive-episode{
  padding-left: 10px;
}

.previous{
  position:absolute;
  left: 15px;
  color: #ed1c24;
  padding-bottom: 10px;
}

.next{
  position:absolute;
  right: 15px;
  color: #ed1c24;
  padding-bottom: 10px;
}

@media screen and (max-width: 1000px){
  .episode-img-archive{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .archive-description{
    font-size: 35px;
  }
}
